
body {
    margin: 0px 0px;
}

.nav{
    background: #E9E9E9;
    font-size: 16px;
    padding: 4px 15px;
	margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    border-bottom: 5px solid #FFA865;
    font-family: 'Arimo', sans-serif;
}

.nav a {
    font-weight: 400;
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
    color: #24A2B3;
}

.nav img {
    height: 30px;
}

.ropa {
    width: 100px;
    text-align: center !important;
    display: flex;
    align-items: center;
}


.calzado {
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}

.accesorios {
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}

.closed{
    visibility: hidden;
}
  
#cerrar {
    display: none;
    height: 15px;
    padding: 0px 5px;
}

#cerrar2 {
    display: none;
    height: 15px;
    padding: 0px 5px;
}

#cerrar3 {
    display: none;
    height: 15px;
    padding: 0px 5px;
}


.open {
    background: #E9E9E9;
    padding: 10px 30px;
    width: 6%;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    position: absolute;
    top: 49px;
    text-align: left;
    font-family: 'Arimo', sans-serif;
    visibility: visible;
    transition: 300ms all ease-in-out;
}




