@charset "UTF-8";
/* CSS Document */

.container {
    width: 99.5%;
}

.cont-img-zoom{
	width: 30%;
    position:relative;
    cursor:pointer;
    overflow:hidden;
    height:auto;
}
.cont-img-zoom>img{
    -moz-transform:translate3d(0,0,0) scale(1.025);
    -webkit-transform:translate3d(0,0,0) scale(1.025);
    -o-transform:translate3d(0,0,0) scale(1.025);
    -ms-transform:translate3d(0,0,0) scale(1.025);
    transform:translate3d(0,0,0) scale(1.025);
    transition:all .6s cubic-bezier(.215,.61,.355,1)
}
.cont-img-zoom:hover img{
    transform:scale(1) translate3d(0,0,0)
}

/* PRUEBA HOVER  */

.cont_img{
    position: relative;
    width: 100%;
}

.cont-product{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.producto{
	width: 100%;
	margin: 15px;
}

.title-prod{
	text-align: center;
	font-size: 1rem;
}

/* HOVER */

.cont_img:hover .cont_text_secundario{
    opacity: 1;
    -webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.cont_img:hover .cont_text, 
.cont_img:hover .cont_text_secundario{
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media only screen and (max-width: 600px) {
  .cont-img-zoom{
	width: 100%;
}
	
}
